{% include 'base.html' %}
<div class="container-fluid">
    <h3 class="text-dark mb-1">Account verwijderd</h3>
</div>
<div class="p-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center" style="color: rgb(0,0,0);margin-top: 21px;font-size: 17.64px;"><strong>We vinden het jammer dat je weggaat.</strong></h1>
            </div>
        </div>
    </div>
    <div class="text-center" style="margin-top: 18px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">We hebben alle gegevens van je account verwijderd uit de database. Mocht je in de toekomst willen terugkeren, dan dien je een nieuw account aan te maken.</p>
                    <p class="text-center">We vinden het jammer dat je weggaat. Graag zouden wij willen weten waarom je deze keuze hebt gemaakt. Zou je ons hierover willen informeren via het onderstaande formulier? Alvast bedankt.</p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <div class="col" style="margin-top: 22px;">
            <section class="position-relative py-4 py-xl-5">
                <div class="container position-relative">
                    <div class="row d-flex justify-content-center"></div>
                </div>
            </section>
        </div>
    </div>
</div>
</div>
</div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
<script src="assets/js/Simple-Slider.js"></script>
<script src="assets/js/theme.js"></script>
</body>

</html>