{% include 'base.html' %}
                <div class="container-fluid">
                    <h3 class="text-dark mb-1">Sportstudies</h3>
                </div>
                <div class="p-5">
                    <h1 style="color: rgb(0,0,0);"><strong>Inloggen</strong><img src="static/assets/img/klein_logo.png" style="width: 61px;margin-left: 81px;"></h1>
                    <div class="text-center">
                        <h4 class="text-dark mb-4" style="text-align: left;">Welkom terug.</h4>
                    </div>
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        <div class="mb-3" style="--bs-primary: #ff8310;--bs-primary-rgb: 255,131,16;--bs-success: #ff8310;--bs-success-rgb: 255,131,16;">
                            {{ form.email(class="form-control form-control-user") }}
                        </div>
                        <div class="mb-3" style="height: 46.1875px;">
                            {{ form.wachtwoord(class="form-control form-control-user") }}
                        </div><a class="text-end small" href="forgot-password.html" style="margin-left: 0px;color: rgb(0,0,0);">Wachtwoord vergeten?</a>
                        <div class="mb-3">
                            <div class="custom-control custom-checkbox small"></div>
                        </div>                    
                        {{ form.submit(class="form-control form-control-user") }}
                    </form>
                    <div class="text-center"></div>
                    <div class="text-center"><label class="form-label" for="username" style="font-size: 15px;"><strong>Geen account?&nbsp;</strong></label><a class="small" href="register" style="color: rgb(0,0,0);"><strong>Registreer nu</strong></a></div>
                </div>
            </div>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
</body>

</html>