{% include 'base.html' %}
<div class="container-fluid">
    <h3 class="text-dark mb-1">Privacy</h3>
</div>
<div class="p-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: center;"><img class="img-fluid" src="static/assets/img/private.png"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center" style="color: rgb(0,0,0);margin-top: 21px;font-size: 17.64px;"><strong>Hoe wij omgaan met uw gegevens</strong></h1>
            </div>
        </div>
    </div>
    <div class="text-center" style="margin-top: 18px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center"><strong>Uw gegevens worden niet gedeeld</strong>. De gegevens worden wel veilig opgeslagen in onze database. Deze <strong>gegevens </strong>worden <strong>verzameld </strong>aan de hand van verzonden antwoorden uit o.a. <strong>vragenlijsten </strong>en
                        <strong>sensormetingen</strong>.</p>
                    <p class="text-center">Met deze gegevens kunnen wij uw <strong>welzijn </strong>in kaart brengen met als doel dit te <strong>verbeteren</strong>.</p>
                    <p class="text-center">Uw gegevens worden direct na het verzenden opgeslagen in onze <strong>eigen database</strong>. De gegevens blijven daar staan tot dat u besluit uw account te <strong>verwijderen</strong>.</p>
                    <p class="text-center">Voor vragen of om uw gegevens in te zien verzoeken wij u te mailen naar <strong>info@mail.com.</strong></p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <div class="col" style="margin-top: 22px;"><a class="btn btn-primary" href='/' style="width: 120.6875px;border-radius: 5px;height: 38px;background: rgb(225,121,77);border-color: rgba(255,255,255,0);"><strong>Terug</strong></a></div>
    </div>
</div>
</div>
</div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
</body>

</html>