{% include 'base.html' %}
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Profiel</h3>
                    <div class="row mb-3">
                        <div class="col-lg-4">
                            <div class="card mb-3">
                                <form method="post">
                                <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src="static/assets/img/1605884121088.jpg" id="output" width="160" height="160">
                                    <div class="mb-3">
                                        <label class="-label" for="file">
                                            <span class="glyphicon glyphicon-camera"></span>
                                            <strong><span class="btn btn-primary btn-sm" style="background: rgb(255,102,37); border-color: rgb(255,102,37);">Verander profielfoto</span></strong>
                                          </label>
                                          <input id="file" type="file" onchange="loadFile(event)"/>
                                          <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit" style="--bs-primary: rgb(255,102,37);--bs-primary-rgb: 255,102,37;background: rgb(255,102,37);border-color: rgb(255,102,37);">Opslaan</button></div>
                                    </div>
                                </div>
                            </form>
                            </div>
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="text-primary fw-bold m-0" style="--bs-primary: rgb(255,102,37);--bs-primary-rgb: 255,102,37;">Status</h6>
                                </div>
                                <div class="card-body">
                                    <h4 class="small fw-bold">Ding 1<span class="float-end">2/10</span></h4>
                                    <div class="progress progress-sm mb-3">
                                        <div class="progress-bar bg-danger" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"><span class="visually-hidden">20%</span></div>
                                    </div>
                                    <h4 class="small fw-bold">Ding 2<span class="float-end">4/10</span></h4>
                                    <div class="progress progress-sm mb-3">
                                        <div class="progress-bar bg-warning" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"><span class="visually-hidden">40%</span></div>
                                    </div>
                                    <h4 class="small fw-bold">Ding 3<span class="float-end">6/10</span></h4>
                                    <div class="progress progress-sm mb-3">
                                        <div class="progress-bar bg-primary" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"><span class="visually-hidden">60%</span></div>
                                    </div>
                                    <h4 class="small fw-bold">Ding 4<span class="float-end">8/10</span></h4>
                                    <div class="progress progress-sm mb-3">
                                        <div class="progress-bar bg-info" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><span class="visually-hidden">80%</span></div>
                                    </div>
                                    <h4 class="small fw-bold">Ding 5<span class="float-end">10/10</span></h4>
                                    <div class="progress progress-sm mb-3">
                                        <div class="progress-bar bg-success" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"><span class="visually-hidden">100%</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="row mb-3 d-none">
                                <div class="col">
                                    <div class="card textwhite bg-primary text-white shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card textwhite bg-success text-white shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 fw-bold" style="--bs-primary: rgb(255,102,37);--bs-primary-rgb: 255,102,37;">Info</p>
                                        </div>
                                        <div class="card-body">
                                            <form id="naam-gegevens" method="post" name="naam-gegevens">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="username"><strong>Gebruikersnaam</strong></label>{{ naamGegevensForm.gebruikersnaam(class="form-control", placeholder=gebruikersnaam) }}</div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="email"><strong>E-mail</strong></label>{{ naamGegevensForm.email(class="form-control", placeholder=email) }}</div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="first_name"><strong>Voornaam</strong></label>{{ naamGegevensForm.voornaam(class="form-control", placeholder=voornaam) }}</div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="last_name"><strong>Achternaam</strong><br></label>{{ naamGegevensForm.achternaam(class="form-control" , placeholder=achternaam) }}</div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="first_name"><strong>Telefoon</strong></label>{{ naamGegevensForm.telefoon(class="form-control", placeholder=telefoon) }}</div>
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <button class="btn btn-primary btn-sm" type="submit" style="--bs-primary: rgb(255,102,37);--bs-primary-rgb: 255,102,37;background: rgb(255,102,37);border-color: rgb(255,102,37);">Opslaan</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card shadow">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 fw-bold" style="--bs-primary: rgb(255,102,37);--bs-primary-rgb: 255,102,37;">Contact</p>
                                        </div>
                                        <div class="card-body">
                                            <form id="adres-gegevens" method="post">
                                                <div class="mb-3"><label class="form-label" for="address"><strong>Adres</strong></label>{{ adresGegevensForm.adres(class="form-control", placeholder=adres) }}</div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="city"><strong>Stad</strong></label>{{ adresGegevensForm.stad(class="form-control", placeholder=stad) }}</div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="country"><strong>Land</strong></label>{{ adresGegevensForm.land(class="form-control", placeholder=land) }}</div>
                                                    </div>
                                                </div>
                                                <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit" style="--bs-primary: rgb(255,102,37);--bs-primary-rgb: 255,102,37;background: rgb(255,102,37);border-color: rgb(255,102,37);">Opslaan</button></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow mb-3" style="margin-top: 16px;">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold" style="--bs-primary: rgb(255,102,37);--bs-primary-rgb: 255,102,37;">Wachtwoord</p>
                        </div>
                        <div class="card-body">
                            <form method="post">
                                <div class="row">
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label"><strong>Nieuw wachtwoord</strong></label>{{nieuwWachtwoordForm.wachtwoord(class="form-control form-control-user")}}</div>
                                    </div>
                                    <div class="col">
                                        <div class="mb-3"><label class="form-label"><strong>Herhaal nieuw wachtwoord</strong><br></label>{{nieuwWachtwoordForm.wachtwoord_herhaal(class="form-control form-control-user")}}</div>
                                    </div>
                                </div>
                                <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit" style="--bs-primary: rgb(255,102,37);--bs-primary-rgb: 255,102,37;background: rgb(255,102,37);border-color: rgb(255,102,37);">Opslaan</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<footer class="bg-white sticky-footer" style="background: rgba(255,0,0,0);">
<div class="container my-auto">
    <div class="text-center my-auto copyright"><span>Copyright © IoT sportstudies 2022</span></div>
</div>
</footer>
</div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.js"></script>
    <script src="static/assets/js/Simple-Slider.js"></script>
    <script src="static/assets/js/theme.js"></script>
    <script src="static/assets/js/profielfoto.js"></script>
</body>

</html>